In [1]:
import pandas as pd
import datetime

df_cases_new = pd.read_csv('data/cases_new.csv')
df_cases_new['Date'] = df_cases_new['Date'].astype('datetime64[ns]')
df_cases_new = df_cases_new.set_index('Date')

df_deaths_new = pd.read_csv('data/deaths_new.csv')
df_deaths_new['Date'] = df_deaths_new['Date'].astype('datetime64[ns]') 
df_deaths_new = df_deaths_new.set_index('Date')

df_populations = pd.read_csv('data/populations_2018.csv').set_index('Countries')

dates = df_cases_new.index
countries = df_cases_new.columns

today = datetime.date.today() - datetime.timedelta(days=1)

# Create total

In [2]:
df_cases_total = df_cases_new.copy()
df_deaths_total = df_deaths_new.copy()

for country in countries:
    cases = 0
    deaths = 0
    
    for date in dates:
        cases += df_cases_new.at[date, country]
        deaths += df_deaths_new.at[date, country]
        
        df_cases_total.at[date, country] = cases
        df_deaths_total.at[date, country] = deaths
        
display(df_cases_total)
display(df_deaths_total)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-28,91,4,186,267,305,2,7,690,372,28,...,14543,13,104686,19,238,104,119,169,16,5
2020-03-29,106,4,197,308,409,2,7,745,424,28,...,17089,13,124665,22,304,133,119,223,28,7
2020-03-30,114,7,212,334,454,2,7,820,424,50,...,19522,14,143025,30,309,145,119,228,29,7
2020-03-31,141,7,223,370,511,2,7,966,482,50,...,22141,19,164620,30,320,149,135,229,35,7
2020-04-01,166,7,243,376,584,2,7,966,532,55,...,25150,19,189618,30,338,173,135,229,35,8

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-28,2,0,9,3,21,0,0,17,1,0,...,759,0,1707,0,0,0,1,0,0,1
2020-03-29,3,0,10,4,26,0,0,19,3,0,...,1019,1,2191,0,0,1,1,0,0,1
2020-03-30,4,2,10,6,29,0,0,20,3,0,...,1228,1,2509,0,1,1,1,0,0,1
2020-03-31,4,2,12,8,31,0,0,24,3,0,...,1408,1,3170,0,1,2,3,0,0,1
2020-04-01,4,2,15,12,35,0,0,24,3,0,...,1789,1,4079,0,1,2,3,0,0,1

# Create weekly

In [3]:
dates_weekly = []

start_date = today
end_date = start_date - datetime.timedelta(days=7)

while end_date > df_cases_new.index[0]:
    dates_weekly.append(start_date)
    
    start_date = end_date
    end_date = start_date - datetime.timedelta(days=7)

dates_weekly.reverse()

dict_cases_weekly = {'Date': dates_weekly}
dict_deaths_weekly = {'Date': dates_weekly}

for country in countries:
    cases_weekly = []
    deaths_weekly = []
    
    for date in dates_weekly:
        end_date = date - datetime.timedelta(days=7)
        
        cases_weekly.append(df_cases_new.loc[end_date:date, country].sum())
        deaths_weekly.append(df_deaths_new.loc[end_date:date, country].sum())
    
    dict_cases_weekly[country] = cases_weekly
    dict_deaths_weekly[country] = deaths_weekly

df_cases_weekly = pd.DataFrame(dict_cases_weekly).set_index('Date')
df_deaths_weekly = pd.DataFrame(dict_deaths_weekly).set_index('Date')

display(df_cases_weekly)
display(df_deaths_weekly)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-21,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2020-01-28,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,2,0,0
2020-02-04,0,0,0,0,0,0,0,0,0,0,...,2,0,6,0,0,0,0,7,0,0
2020-02-11,0,0,0,0,0,0,0,0,0,0,...,6,0,2,0,0,0,0,7,0,0
2020-02-18,0,0,0,0,0,0,0,0,0,0,...,5,0,3,0,0,0,0,2,0,0
2020-02-25,1,0,0,0,0,0,0,0,0,0,...,4,0,38,0,0,0,0,0,0,0
2020-03-03,1,0,0,1,3,0,0,0,1,0,...,27,0,68,0,0,0,0,0,0,0
2020-03-10,3,0,6,1,17,0,0,12,0,0,...,285,0,665,0,0,0,0,15,0,0
2020-03-17,17,0,49,13,40,0,1,53,51,2,...,1270,1,4107,0,29,8,33,31,0,0
2020-03-24,24,2,58,128,141,0,0,245,164,10,...,5259,12,42668,17,154,43,69,66,3,2
2020-03-31,107,5,134,257,409,2,6,700,292,46,...,16458,7,129414,30,162,103,99,111,32,5

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-03,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
2020-03-10,0,0,0,0,0,0,0,1,0,0,...,5,0,24,0,0,0,0,0,0,0
2020-03-17,0,0,1,0,4,0,0,1,0,0,...,52,0,64,0,0,0,0,0,0,0
2020-03-24,1,0,3,0,13,0,0,2,0,0,...,300,0,521,0,0,0,0,0,0,1
2020-03-31,4,2,10,8,16,0,0,20,3,0,...,1127,1,2699,0,1,2,3,0,0,1

# Create prevalence, mortality and insidence

- prevalence = total cases / population
- incidence = new cases / population
- mortality = total deaths / total cases

In [4]:
df_prevalence = df_cases_new.copy().astype('float')
df_mortality = df_deaths_new.copy().astype('float')
df_incidence = df_deaths_new.copy().astype('float')

for country in countries:
    ok = (df_populations.at[country, 'populations'] != 0)
    
    for date in dates:
        if df_cases_total.at[date, country] != 0:
            rel_value = df_deaths_total.at[date, country] / df_cases_total.at[date, country]
            df_mortality.at[date, country] = rel_value
        else:
            df_mortality.at[date, country] = 0

        if ok:
            df_prevalence.at[date, country] = df_cases_total.at[date, country] / df_populations.at[country, 'populations']
            df_incidence.at[date, country] = df_cases_new.at[date, country] / df_populations.at[country, 'populations']
        else: 
            df_prevalence.at[date, country] = 0
            df_incidence.at[date, country] = 0
            
display(df_prevalence)
display(df_mortality)
display(df_incidence)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-01,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-02,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-03,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-04,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-28,0.000002,1.298290e-07,0.000065,0.003467,0.000007,0.0,0.000073,0.000016,0.000126,0.000265,...,0.000219,2.308306e-07,0.000320,0.000178,0.000069,0.000003,0.000004,0.000002,9.220934e-07,3.462839e-07
2020-03-29,0.000003,1.298290e-07,0.000069,0.004000,0.000010,0.0,0.000073,0.000017,0.000144,0.000265,...,0.000257,2.308306e-07,0.000381,0.000206,0.000088,0.000004,0.000004,0.000002,1.613663e-06,4.847975e-07
2020-03-30,0.000003,2.272007e-07,0.000074,0.004337,0.000011,0.0,0.000073,0.000018,0.000144,0.000472,...,0.000294,2.485868e-07,0.000437,0.000280,0.000090,0.000004,0.000004,0.000002,1.671294e-06,4.847975e-07
2020-03-31,0.000004,2.272007e-07,0.000078,0.004805,0.000012,0.0,0.000073,0.000022,0.000163,0.000472,...,0.000333,3.373679e-07,0.000503,0.000280,0.000093,0.000005,0.000005,0.000002,2.017079e-06,4.847975e-07
2020-04-01,0.000004,2.272007e-07,0.000085,0.004883,0.000014,0.0,0.000073,0.000022,0.000180,0.000520,...,0.000378,3.373679e-07,0.000580,0.000280,0.000098,0.000005,0.000005,0.000002,2.017079e-06,5.540543e-07

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-28,0.021978,0.000000,0.048387,0.011236,0.068852,0.0,0.0,0.024638,0.002688,0.0,...,0.052190,0.000000,0.016306,0.0,0.000000,0.000000,0.008403,0.0,0.0,0.200000
2020-03-29,0.028302,0.000000,0.050761,0.012987,0.063570,0.0,0.0,0.025503,0.007075,0.0,...,0.059629,0.076923,0.017575,0.0,0.000000,0.007519,0.008403,0.0,0.0,0.142857
2020-03-30,0.035088,0.285714,0.047170,0.017964,0.063877,0.0,0.0,0.024390,0.007075,0.0,...,0.062903,0.071429,0.017542,0.0,0.003236,0.006897,0.008403,0.0,0.0,0.142857
2020-03-31,0.028369,0.285714,0.053812,0.021622,0.060665,0.0,0.0,0.024845,0.006224,0.0,...,0.063592,0.052632,0.019256,0.0,0.003125,0.013423,0.022222,0.0,0.0,0.142857
2020-04-01,0.024096,0.285714,0.061728,0.031915,0.059932,0.0,0.0,0.024845,0.005639,0.0,...,0.071133,0.052632,0.021512,0.0,0.002959,0.011561,0.022222,0.0,0.0,0.125000

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2020-01-01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2020-01-02,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2020-01-03,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2020-01-04,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-28,4.304270e-07,3.245725e-08,0.000004,0.000558,0.000000,0.0,0.0,0.000002,0.000015,0.000000,...,0.000043,0.000000e+00,0.000057,0.000019,0.000000,6.372249e-07,4.156536e-07,1.674684e-07,1.152617e-07,1.385136e-07
2020-03-29,4.035253e-07,0.000000e+00,0.000004,0.000532,0.000002,0.0,0.0,0.000001,0.000018,0.000000,...,0.000038,0.000000e+00,0.000061,0.000028,0.000019,8.799772e-07,0.000000e+00,5.652060e-07,6.915700e-07,1.385136e-07
2020-03-30,2.152135e-07,9.737174e-08,0.000005,0.000338,0.000001,0.0,0.0,0.000002,0.000000,0.000208,...,0.000037,1.775620e-08,0.000056,0.000075,0.000001,3.641285e-07,0.000000e+00,5.233388e-08,5.763084e-08,0.000000e+00
2020-03-31,7.263456e-07,0.000000e+00,0.000004,0.000467,0.000001,0.0,0.0,0.000003,0.000020,0.000000,...,0.000039,8.878101e-08,0.000066,0.000000,0.000003,1.213762e-07,5.542048e-07,1.046678e-08,3.457850e-07,0.000000e+00
2020-04-01,6.725422e-07,0.000000e+00,0.000007,0.000078,0.000002,0.0,0.0,0.000000,0.000017,0.000047,...,0.000045,0.000000e+00,0.000076,0.000000,0.000005,7.282570e-07,0.000000e+00,0.000000e+00,0.000000e+00,6.925679e-08

# From thresholds

- cases > 100
- deaths > 10

In [5]:
dict_thresholds = {'ind' : ['cases', 'deaths']}

for country in countries:
    date_list = df_cases_total.loc[df_cases_total[country] > 100][country].index.tolist()
    if len(date_list) > 0:
        cases_date = date_list[0]
    else:
        cases_date = today + datetime.timedelta(days=1)
    
    date_list = df_deaths_total.loc[df_deaths_total[country] > 10][country].index.tolist()
    if len(date_list) > 0:
        deaths_date = date_list[0]
    else:
        deaths_date = today + datetime.timedelta(days=1)
    
    dict_thresholds[country] = [cases_date, deaths_date]
    
df_thresholds = pd.DataFrame(dict_thresholds).set_index('ind')
display(df_thresholds)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
ind,,,,,,,,,,,,,,,,,,,,,
cases,2020-03-29,2020-04-01,2020-03-25,2020-03-23,2020-03-23,2020-04-01,2020-04-01,2020-03-20,2020-03-19,2020-04-01,...,2020-03-06,2020-04-01,2020-03-03,2020-04-01,2020-03-21,2020-03-28,2020-03-26,2020-03-23,2020-04-01,2020-04-01
deaths,2020-04-01,2020-04-01,2020-03-31,2020-04-01,2020-03-23,2020-04-01,2020-04-01,2020-03-27,2020-04-01,2020-04-01,...,2020-03-15,2020-04-01,2020-03-05,2020-04-01,2020-04-01,2020-04-01,2020-04-01,2020-04-01,2020-04-01,2020-04-01

# Global data

In [6]:
dict_global = {}
global_pop = df_populations.sum(axis=0).values

dict_global['Date'] = df_cases_new.index

dict_global['cases_new'] = df_cases_new.sum(axis=1).values
dict_global['cases_total'] = df_cases_total.sum(axis=1).values
dict_global['prevalence'] = df_cases_total.sum(axis=1).values / global_pop
dict_global['incidence'] = df_cases_new.sum(axis=1).values / global_pop

dict_global['deaths_new']  = df_deaths_new.sum(axis=1).values
dict_global['deaths_total']  = df_deaths_total.sum(axis=1).values
dict_global['mortality']  = (df_deaths_total.sum(axis=1) / df_cases_total.sum(axis=1)).values

df_global = pd.DataFrame(dict_global).set_index('Date')
display(df_global)

,cases_new,cases_total,prevalence,incidence,deaths_new,deaths_total,mortality
Date,,,,,,,
2019-12-31,27,27,3.604222e-09,3.604222e-09,0,0,0.000000
2020-01-01,0,27,3.604222e-09,0.000000e+00,0,0,0.000000
2020-01-02,0,27,3.604222e-09,0.000000e+00,0,0,0.000000
2020-01-03,17,44,5.873547e-09,2.269325e-09,0,0,0.000000
2020-01-04,0,44,5.873547e-09,0.000000e+00,0,0,0.000000
...,...,...,...,...,...,...,...
2020-03-28,63937,591704,7.898640e-05,8.534932e-06,3318,26988,0.045611
2020-03-29,65162,656866,8.768485e-05,8.698456e-06,3461,30449,0.046355
2020-03-30,58487,715353,9.549226e-05,7.807413e-06,3125,33574,0.046933
2020-03-31,62444,777797,1.038279e-04,8.335631e-06,3697,37271,0.047919
2020-04-01,75403,853200,1.138934e-04,1.006552e-05,4616,41887,0.049094

# Saving

In [7]:
df_cases_total.to_csv('data/cases_total.csv')
df_cases_weekly.to_csv('data/cases_weekly.csv')

df_deaths_total.to_csv('data/deaths_total.csv')
df_deaths_weekly.to_csv('data/deaths_weekly.csv')

df_prevalence.to_csv('data/prevalence.csv')
df_mortality.to_csv('data/mortality.csv')
df_incidence.to_csv('data/incidence.csv')
df_thresholds.to_csv('data/thresholds.csv')

df_global.to_csv('data/global.csv')