In [1]:
import pandas as pd
import datetime

df_cases_new = pd.read_csv('data/cases_new.csv')
df_cases_new['Date'] = df_cases_new['Date'].astype('datetime64[ns]')
df_cases_new = df_cases_new.set_index('Date')

df_deaths_new = pd.read_csv('data/deaths_new.csv')
df_deaths_new['Date'] = df_deaths_new['Date'].astype('datetime64[ns]') 
df_deaths_new = df_deaths_new.set_index('Date')

df_populations = pd.read_csv('data/populations_2018.csv').set_index('Countries')

dates = df_cases_new.index
countries = df_cases_new.columns

today = datetime.date.today() - datetime.timedelta(days=1)

# Create total

In [2]:
df_cases_total = df_cases_new.copy()
df_deaths_total = df_deaths_new.copy()

for country in countries:
    cases = 0
    deaths = 0
    
    for date in dates:
        cases += df_cases_new.at[date, country]
        deaths += df_deaths_new.at[date, country]
        
        df_cases_total.at[date, country] = cases
        df_deaths_total.at[date, country] = deaths
        
display(df_cases_total)
display(df_deaths_total)

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-26,75,2,146,188,3,264,0,502,290,19,...,9529,12,69194,17,217,65,106,148,12,3
2020-03-27,75,3,174,224,7,305,2,589,329,28,...,11658,13,85991,17,238,83,107,153,14,3
2020-03-28,91,4,186,267,7,305,2,690,372,28,...,14543,13,104686,19,238,104,119,169,16,5
2020-03-29,106,4,197,308,7,409,2,745,424,28,...,17089,13,124665,22,304,133,119,223,28,7
2020-03-30,114,7,212,334,7,454,2,820,424,50,...,19522,14,143025,30,309,145,119,228,29,7

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-26,1,0,5,0,0,17,0,8,0,0,...,463,0,1050,0,0,0,0,0,0,1
2020-03-27,1,0,6,3,0,21,0,12,1,0,...,578,0,1296,0,0,0,1,0,0,1
2020-03-28,2,0,9,3,0,21,0,17,1,0,...,759,0,1707,0,0,0,1,0,0,1
2020-03-29,3,0,10,4,0,26,0,19,3,0,...,1019,1,2191,0,0,1,1,0,0,1
2020-03-30,4,2,10,6,0,29,0,20,3,0,...,1228,1,2509,0,1,1,1,0,0,1

# Create weekly

In [3]:
dates_weekly = []

start_date = today
end_date = start_date - datetime.timedelta(days=7)

while end_date > df_cases_new.index[0]:
    dates_weekly.append(start_date)
    
    start_date = end_date
    end_date = start_date - datetime.timedelta(days=7)

dates_weekly.reverse()

struct_cases_weekly = [('Date', dates_weekly)]
struct_deaths_weekly = [('Date', dates_weekly)]

for country in countries:
    cases_weekly = []
    deaths_weekly = []
    
    for date in dates_weekly:
        end_date = date - datetime.timedelta(days=7)
        
        cases_weekly.append(df_cases_new.loc[end_date:date, country].sum())
        deaths_weekly.append(df_deaths_new.loc[end_date:date, country].sum())
    
    struct_cases_weekly.append((country, cases_weekly))
    struct_deaths_weekly.append((country, deaths_weekly))

d_cases = {title: content for (title, content) in struct_cases_weekly}
d_deaths = {title: content for (title, content) in struct_deaths_weekly}

df_cases_weekly = pd.DataFrame(d_cases).set_index('Date')
df_deaths_weekly = pd.DataFrame(d_deaths).set_index('Date')

display(df_cases_weekly)
display(df_deaths_weekly)

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,2,0,0
2020-02-02,0,0,0,0,0,0,0,0,0,0,...,2,0,6,0,0,0,0,5,0,0
2020-02-09,0,0,0,0,0,0,0,0,0,0,...,2,0,5,0,0,0,0,9,0,0
2020-02-16,0,0,0,0,0,0,0,0,0,0,...,6,0,3,0,0,0,0,3,0,0
2020-02-23,0,0,0,0,0,0,0,0,0,0,...,0,0,20,0,0,0,0,0,0,0
2020-03-01,1,0,0,0,0,1,0,0,1,0,...,14,0,34,0,0,0,0,0,0,0
2020-03-08,3,0,0,1,0,16,0,9,1,0,...,188,0,367,0,0,0,0,5,0,0
2020-03-15,9,0,38,1,1,20,0,37,19,2,...,977,0,2613,0,6,0,10,36,0,0
2020-03-22,17,2,43,86,1,68,0,191,147,2,...,4311,6,24573,0,135,33,36,45,2,2
2020-03-29,82,4,127,233,6,315,2,587,288,24,...,13106,10,105041,22,194,100,83,136,26,6

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-01,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2020-03-08,0,0,0,0,0,0,0,1,0,0,...,2,0,17,0,0,0,0,0,0,0
2020-03-15,0,0,1,0,0,2,0,2,0,0,...,20,0,43,0,0,0,0,0,0,0
2020-03-22,0,0,1,0,0,8,0,2,0,0,...,223,0,293,0,0,0,0,0,0,0
2020-03-29,3,0,8,4,0,16,0,16,3,0,...,842,1,1931,0,0,1,1,0,0,1

# Create Relative

In [4]:
df_cases_relative = df_cases_new.copy().astype('float')
df_deaths_relative = df_deaths_new.copy().astype('float')

for country in countries:
    ok = (df_populations.at[country, 'Populations'] != 0)
    
    for date in dates:
        if df_cases_total.at[date, country] != 0:
            rel_value = df_deaths_total.at[date, country] / df_cases_total.at[date, country]
            df_deaths_relative.at[date, country] = rel_value
        else:
            df_deaths_relative.at[date, country] = 0

        if ok:
            df_cases_relative.at[date, country] = df_cases_total.at[date, country] / df_populations.at[country, 'Populations']
        else: 
            df_cases_relative.at[date, country] = 0
            
display(df_cases_relative)
display(df_deaths_relative)

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-01,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-02,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-03,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-04,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-26,0.000002,6.491449e-08,0.000051,0.002441,0.000031,0.000006,0.0,0.000011,0.000098,0.000180,...,0.000143,2.130744e-07,0.000211,0.000159,0.000063,0.000002,0.000004,0.000002,6.915700e-07,2.077704e-07
2020-03-27,0.000002,9.737174e-08,0.000061,0.002909,0.000073,0.000007,0.0,0.000013,0.000111,0.000265,...,0.000175,2.308306e-07,0.000263,0.000159,0.000069,0.000003,0.000004,0.000002,8.068317e-07,2.077704e-07
2020-03-28,0.000002,1.298290e-07,0.000065,0.003467,0.000073,0.000007,0.0,0.000016,0.000126,0.000265,...,0.000219,2.308306e-07,0.000320,0.000178,0.000069,0.000003,0.000004,0.000002,9.220934e-07,3.462839e-07
2020-03-29,0.000003,1.298290e-07,0.000069,0.004000,0.000073,0.000010,0.0,0.000017,0.000144,0.000265,...,0.000257,2.308306e-07,0.000381,0.000206,0.000088,0.000004,0.000004,0.000002,1.613663e-06,4.847975e-07
2020-03-30,0.000003,2.272007e-07,0.000074,0.004337,0.000073,0.000011,0.0,0.000018,0.000144,0.000472,...,0.000294,2.485868e-07,0.000437,0.000280,0.000090,0.000004,0.000004,0.000002,1.671294e-06,4.847975e-07

,Afghanistan,Angola,Albania,Andorra,Antigua_and_Barbuda,Algeria,Anguilla,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-01,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-02,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-03,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-04,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-26,0.013333,0.000000,0.034247,0.000000,0.0,0.064394,0.0,0.015936,0.000000,0.0,...,0.048589,0.000000,0.015175,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.333333
2020-03-27,0.013333,0.000000,0.034483,0.013393,0.0,0.068852,0.0,0.020374,0.003040,0.0,...,0.049580,0.000000,0.015071,0.0,0.000000,0.000000,0.009346,0.0,0.0,0.333333
2020-03-28,0.021978,0.000000,0.048387,0.011236,0.0,0.068852,0.0,0.024638,0.002688,0.0,...,0.052190,0.000000,0.016306,0.0,0.000000,0.000000,0.008403,0.0,0.0,0.200000
2020-03-29,0.028302,0.000000,0.050761,0.012987,0.0,0.063570,0.0,0.025503,0.007075,0.0,...,0.059629,0.076923,0.017575,0.0,0.000000,0.007519,0.008403,0.0,0.0,0.142857
2020-03-30,0.035088,0.285714,0.047170,0.017964,0.0,0.063877,0.0,0.024390,0.007075,0.0,...,0.062903,0.071429,0.017542,0.0,0.003236,0.006897,0.008403,0.0,0.0,0.142857

# Find country thresholds

In [5]:
struct_threshold = [('ind', ['100_cases', '10_deaths'])]
i = 1

for country in countries:
    cases_start = df_cases_total.loc[df_cases_total[country] > 100]
    
    if len(cases_start > 0):
        info = []
        
        cases_start = cases_start.index[0].date()
        deaths_start = df_cases_total.loc[df_deaths_total[country] > 10]
        
        if len(deaths_start) > 0:
            deaths_start = deaths_start.index[0].date()
        else: 
            deaths_start = today
        
        info.append(cases_start)
        info.append(deaths_start)
        
        struct_threshold.append((country, info))
        
d = {title:content for (title, content) in struct_threshold}
df_thresholds = pd.DataFrame(d).set_index('ind')

display(df_thresholds)

,Afghanistan,Albania,Andorra,Algeria,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,Tunisia,Turkey,Ukraine,United_Arab_Emirates,United_Kingdom,United_States_of_America,Uruguay,Uzbekistan,Venezuela,Vietnam
ind,,,,,,,,,,,,,,,,,,,,,
100_cases,2020-03-29,2020-03-25,2020-03-23,2020-03-23,2020-03-20,2020-03-19,2020-03-11,2020-03-09,2020-03-27,2020-03-10,...,2020-03-25,2020-03-19,2020-03-26,2020-03-18,2020-03-06,2020-03-03,2020-03-21,2020-03-28,2020-03-26,2020-03-23
10_deaths,2020-03-29,2020-03-29,2020-03-29,2020-03-23,2020-03-27,2020-03-29,2020-03-26,2020-03-23,2020-03-29,2020-03-29,...,2020-03-29,2020-03-22,2020-03-29,2020-03-29,2020-03-15,2020-03-05,2020-03-29,2020-03-29,2020-03-29,2020-03-29

# Saving

In [6]:
df_cases_total.to_csv('data/cases_total.csv')
df_cases_weekly.to_csv('data/cases_weekly.csv')
df_cases_relative.to_csv('data/cases_relative.csv')

df_deaths_total.to_csv('data/deaths_total.csv')
df_deaths_weekly.to_csv('data/deaths_weekly.csv')
df_deaths_relative.to_csv('data/deaths_relative.csv')

df_thresholds.to_csv('data/threshold_dates.csv')