In [1]:
import pandas as pd
import datetime

df_cases_new = pd.read_csv('data/cases_new.csv')
df_cases_new['Date'] = df_cases_new['Date'].astype('datetime64[ns]')
df_cases_new = df_cases_new.set_index('Date')

df_deaths_new = pd.read_csv('data/deaths_new.csv')
df_deaths_new['Date'] = df_deaths_new['Date'].astype('datetime64[ns]') 
df_deaths_new = df_deaths_new.set_index('Date')

df_populations = pd.read_csv('data/populations_2018.csv').set_index('Countries')

dates = df_cases_new.index
countries = df_cases_new.columns

today = datetime.date.today() - datetime.timedelta(days=1)

# Create total

In [2]:
df_cases_total = df_cases_new.copy()
df_deaths_total = df_deaths_new.copy()

for country in countries:
    cases = 0
    deaths = 0
    
    for date in dates:
        cases += df_cases_new.at[date, country]
        deaths += df_deaths_new.at[date, country]
        
        df_cases_total.at[date, country] = cases
        df_deaths_total.at[date, country] = deaths
        
display(df_cases_total)
display(df_deaths_total)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,75,3,174,224,305,2,7,589,329,28,...,11658,13,85991,17,238,83,107,153,14,3
2020-03-28,91,4,186,267,305,2,7,690,372,28,...,14543,13,104686,19,238,104,119,169,16,5
2020-03-29,106,4,197,308,409,2,7,745,424,28,...,17089,13,124665,22,304,133,119,223,28,7
2020-03-30,114,7,212,334,454,2,7,820,424,50,...,19522,14,143025,30,309,145,119,228,29,7
2020-03-31,141,7,223,370,511,2,7,966,482,50,...,22141,19,164620,30,320,149,135,229,35,7

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,1,0,6,3,21,0,0,12,1,0,...,578,0,1296,0,0,0,1,0,0,1
2020-03-28,2,0,9,3,21,0,0,17,1,0,...,759,0,1707,0,0,0,1,0,0,1
2020-03-29,3,0,10,4,26,0,0,19,3,0,...,1019,1,2191,0,0,1,1,0,0,1
2020-03-30,4,2,10,6,29,0,0,20,3,0,...,1228,1,2509,0,1,1,1,0,0,1
2020-03-31,4,2,12,8,31,0,0,24,3,0,...,1408,1,3170,0,1,2,3,0,0,1

# Create weekly

In [3]:
dates_weekly = []

start_date = today
end_date = start_date - datetime.timedelta(days=7)

while end_date > df_cases_new.index[0]:
    dates_weekly.append(start_date)
    
    start_date = end_date
    end_date = start_date - datetime.timedelta(days=7)

dates_weekly.reverse()

struct_cases_weekly = [('Date', dates_weekly)]
struct_deaths_weekly = [('Date', dates_weekly)]

for country in countries:
    cases_weekly = []
    deaths_weekly = []
    
    for date in dates_weekly:
        end_date = date - datetime.timedelta(days=7)
        
        cases_weekly.append(df_cases_new.loc[end_date:date, country].sum())
        deaths_weekly.append(df_deaths_new.loc[end_date:date, country].sum())
    
    struct_cases_weekly.append((country, cases_weekly))
    struct_deaths_weekly.append((country, deaths_weekly))

d_cases = {title: content for (title, content) in struct_cases_weekly}
d_deaths = {title: content for (title, content) in struct_deaths_weekly}

df_cases_weekly = pd.DataFrame(d_cases).set_index('Date')
df_deaths_weekly = pd.DataFrame(d_deaths).set_index('Date')

display(df_cases_weekly)
display(df_deaths_weekly)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-27,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,2,0,0
2020-02-03,0,0,0,0,0,0,0,0,0,0,...,2,0,9,0,0,0,0,6,0,0
2020-02-10,0,0,0,0,0,0,0,0,0,0,...,2,0,4,0,0,0,0,7,0,0
2020-02-17,0,0,0,0,0,0,0,0,0,0,...,5,0,3,0,0,0,0,2,0,0
2020-02-24,0,0,0,0,0,0,0,0,0,0,...,4,0,20,0,0,0,0,0,0,0
2020-03-02,1,0,0,0,3,0,0,0,1,0,...,27,0,54,0,0,0,0,0,0,0
2020-03-09,3,0,2,1,19,0,0,12,0,0,...,250,0,485,0,0,0,0,14,0,0
2020-03-16,12,0,42,4,31,0,1,47,29,2,...,1185,0,3341,0,8,6,15,36,0,0
2020-03-23,24,2,51,111,65,0,0,221,170,2,...,4543,12,32255,0,152,46,26,65,3,2
2020-03-30,90,5,136,246,360,2,6,595,264,46,...,14504,8,116278,30,174,112,83,134,27,5

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-02,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
2020-03-09,0,0,0,0,0,0,0,1,0,0,...,3,0,20,0,0,0,0,0,0,0
2020-03-16,0,0,1,0,4,0,0,1,0,0,...,33,0,52,0,0,0,0,0,0,0
2020-03-23,0,0,1,0,13,0,0,2,0,0,...,260,0,414,0,0,0,0,0,0,0
2020-03-30,4,2,8,6,19,0,0,16,3,0,...,995,1,2169,0,1,1,1,0,0,1

# Create Relative

In [4]:
df_cases_relative = df_cases_new.copy().astype('float')
df_deaths_relative = df_deaths_new.copy().astype('float')

for country in countries:
    ok = (df_populations.at[country, 'Populations'] != 0)
    
    for date in dates:
        if df_cases_total.at[date, country] != 0:
            rel_value = df_deaths_total.at[date, country] / df_cases_total.at[date, country]
            df_deaths_relative.at[date, country] = rel_value
        else:
            df_deaths_relative.at[date, country] = 0

        if ok:
            df_cases_relative.at[date, country] = df_cases_total.at[date, country] / df_populations.at[country, 'Populations']
        else: 
            df_cases_relative.at[date, country] = 0
            
display(df_cases_relative)
display(df_deaths_relative)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-01,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-02,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-03,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
2020-01-04,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,0.000002,9.737174e-08,0.000061,0.002909,0.000007,0.0,0.000073,0.000013,0.000111,0.000265,...,0.000175,2.308306e-07,0.000263,0.000159,0.000069,0.000003,0.000004,0.000002,8.068317e-07,2.077704e-07
2020-03-28,0.000002,1.298290e-07,0.000065,0.003467,0.000007,0.0,0.000073,0.000016,0.000126,0.000265,...,0.000219,2.308306e-07,0.000320,0.000178,0.000069,0.000003,0.000004,0.000002,9.220934e-07,3.462839e-07
2020-03-29,0.000003,1.298290e-07,0.000069,0.004000,0.000010,0.0,0.000073,0.000017,0.000144,0.000265,...,0.000257,2.308306e-07,0.000381,0.000206,0.000088,0.000004,0.000004,0.000002,1.613663e-06,4.847975e-07
2020-03-30,0.000003,2.272007e-07,0.000074,0.004337,0.000011,0.0,0.000073,0.000018,0.000144,0.000472,...,0.000294,2.485868e-07,0.000437,0.000280,0.000090,0.000004,0.000004,0.000002,1.671294e-06,4.847975e-07
2020-03-31,0.000004,2.272007e-07,0.000078,0.004805,0.000012,0.0,0.000073,0.000022,0.000163,0.000472,...,0.000333,3.373679e-07,0.000503,0.000280,0.000093,0.000005,0.000005,0.000002,2.017079e-06,4.847975e-07

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
2020-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-27,0.013333,0.000000,0.034483,0.013393,0.068852,0.0,0.0,0.020374,0.003040,0.0,...,0.049580,0.000000,0.015071,0.0,0.000000,0.000000,0.009346,0.0,0.0,0.333333
2020-03-28,0.021978,0.000000,0.048387,0.011236,0.068852,0.0,0.0,0.024638,0.002688,0.0,...,0.052190,0.000000,0.016306,0.0,0.000000,0.000000,0.008403,0.0,0.0,0.200000
2020-03-29,0.028302,0.000000,0.050761,0.012987,0.063570,0.0,0.0,0.025503,0.007075,0.0,...,0.059629,0.076923,0.017575,0.0,0.000000,0.007519,0.008403,0.0,0.0,0.142857
2020-03-30,0.035088,0.285714,0.047170,0.017964,0.063877,0.0,0.0,0.024390,0.007075,0.0,...,0.062903,0.071429,0.017542,0.0,0.003236,0.006897,0.008403,0.0,0.0,0.142857
2020-03-31,0.028369,0.285714,0.053812,0.021622,0.060665,0.0,0.0,0.024845,0.006224,0.0,...,0.063592,0.052632,0.019256,0.0,0.003125,0.013423,0.022222,0.0,0.0,0.142857

# From thresholds

In [5]:
dict_cases = {}
dict_deaths = {}

for country in countries:
    dict_cases[country] = df_cases_total.loc[df_cases_total[country] > 100][country].reset_index(drop=True)
    dict_deaths[country] = df_deaths_total.loc[df_deaths_total[country] > 10][country].reset_index(drop=True)

df_cases_threshold = pd.DataFrame(dict_cases)
df_deaths_threshold = pd.DataFrame(dict_deaths)

df_cases_threshold.dropna(axis=0, how='all', subset=None, inplace=True)
df_deaths_threshold.dropna(axis=0, how='all', subset=None, inplace=True)

display(df_cases_threshold)
display(df_deaths_threshold)

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
0,106.0,NaN,123.0,113.0,102.0,NaN,NaN,128.0,115.0,NaN,...,115.0,NaN,103.0,NaN,110.0,104.0,106.0,118.0,NaN,NaN
1,114.0,NaN,146.0,133.0,189.0,NaN,NaN,158.0,122.0,NaN,...,163.0,NaN,125.0,NaN,135.0,133.0,107.0,123.0,NaN,NaN
2,141.0,NaN,174.0,164.0,231.0,NaN,NaN,225.0,136.0,NaN,...,206.0,NaN,159.0,NaN,158.0,145.0,119.0,134.0,NaN,NaN
3,NaN,NaN,186.0,188.0,264.0,NaN,NaN,266.0,160.0,NaN,...,273.0,NaN,233.0,NaN,162.0,149.0,119.0,148.0,NaN,NaN
4,NaN,NaN,197.0,224.0,305.0,NaN,NaN,301.0,190.0,NaN,...,321.0,NaN,338.0,NaN,189.0,NaN,119.0,153.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Afghanistan,Angola,Albania,Andorra,Algeria,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,United_Kingdom,United_Republic_of_Tanzania,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia,Zimbabwe
0,NaN,NaN,12.0,NaN,15.0,NaN,NaN,12.0,NaN,NaN,...,21.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,17.0,NaN,NaN,17.0,NaN,NaN,...,35.0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,17.0,NaN,NaN,19.0,NaN,NaN,...,55.0,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,17.0,NaN,NaN,20.0,NaN,NaN,...,60.0,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,21.0,NaN,NaN,24.0,NaN,NaN,...,103.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Global data

In [6]:
d = {}
global_pop = df_populations.sum(axis=0).values

d['Date'] = df_cases_new.index

d['cases_new'] = df_cases_new.sum(axis=1).values
d['cases_total'] = df_cases_total.sum(axis=1).values
d['cases_relative'] = (df_cases_total.sum(axis=1).values / global_pop)

d['deaths_new']  = df_deaths_new.sum(axis=1).values
d['deaths_total']  = df_deaths_total.sum(axis=1).values
d['deaths_relative']  = (df_deaths_total.sum(axis=1) / df_cases_total.sum(axis=1)).values

df_global_data = pd.DataFrame(d).set_index('Date')

# Saving

In [7]:
df_cases_total.to_csv('data/cases_total.csv')
df_cases_weekly.to_csv('data/cases_weekly.csv')
df_cases_relative.to_csv('data/cases_relative.csv')
df_cases_threshold.to_csv('data/cases_threshold.csv', index=False)

df_deaths_total.to_csv('data/deaths_total.csv')
df_deaths_weekly.to_csv('data/deaths_weekly.csv')
df_deaths_relative.to_csv('data/deaths_relative.csv')
df_deaths_threshold.to_csv('data/deaths_threshold.csv', index=False)

df_global_data.to_csv('data/global_data.csv')